body{
    margin: 0;
    font-family:'roboto', sans-serif ;
  background-image: url(fondo\ marmol\ negro2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}       

*{
    box-sizing: border-box;
}

h1{font-size: 2.7em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1em;}
h4{font-size: 1.5em;}

.container{
    max-width: 1400px;
    margin:auto;
}

header{
    background-color:rgb(245, 245, 245);
    max-height: 90px;
    margin-top: 20px;
    
   }

header .container{
    display: flex;
    flex-direction: column;
}

#logo1{
   
    font-size: 2.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(10,133, 147);
    margin: -30;
    text-align: left;
   

    
}
#logo2{
   padding: ;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(10,133, 147);
    margin: -5;
    text-align: left;
   
}

header nav{
    display:inline-block;
    flex-direction:row;
    text-align: right;
    
}
img#logoFoto{
    width: 150px;
    height: 100px;
    text-align: left;
    margin: 0;
    padding-right: 0cm;
    


    
}
   
#containerLogo{
    display: inline-flex;
    max-width:;
    block-size: auto;
    margin:0;
}